.info-dashboard{
  width: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;


  .container-graphs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5em;

    @media (max-width:800px){
      &{
        flex-direction: column;
        align-items: center;
      }
    }

    

    .column-1{
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      gap: 2em;
      padding: 10px;
      border-radius: 15px;
      align-items: center;
      transition: all .5s ease, opacity .2s linear;
    }

    .column-2{
      width: 35%;
      height: 250px;
      background-color: #333;
    }

    .dark{
      background-color: #202125;
    }
  }
}

