.info-dashboard{
  width: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;


  .container-graphs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5em;

    @media (max-width:800px){
      &{
        flex-direction: column;
        align-items: center;
      }
    }

    

    .column-1{
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      gap: 2em;
      padding: 10px;
      border-radius: 15px;
      align-items: center;
      transition: all .5s ease, opacity .2s linear;
    }

    .column-2{
      transition: all .5s ease, opacity .2s linear;
      background-color: #ffffff;
      display: grid;
      place-content: center;
      position: relative;
      min-width: 35%;
      border-radius: 15px;
      p{
        position: absolute;
        top: 1em;
        left: 1em;
        color: #7c7d81;
      }

      .info-rosc{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5em;
        top: 50%;
        left: 50%;
        transform: translate(-60%,-50%);

        svg{
          color: #00b273;
          font-size: 30px;
          filter: drop-shadow(0px 0px 15px #00f7a0);
        }

        span{
          color: black ;
          font-size: 20px;
          font-weight: bold;
          
        }
      }
    }

    .column-3{
      transition: all .5s ease, opacity .2s linear;
      background-color: #ffffff;
      border-radius: 15px;
      padding: 20px;
      position: relative;

      h3{
        color: black;
        position: absolute;
        top: 2em;
        left: 50%;
        transform: translateX(-50%);
      }

      p{
        color: #7c7d81;
        font-size: 18px;
        position: absolute;
        top: 1em;
        right: 1em;
      }
    }

    .dark{
      background-color: #202125;

      .info-rosc{
        span{
          color: white;
        }
      }

      h3{
        color: #ffffff;
      }
    }
  }
}

